CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r3-mini=y
CONFIG_PACKAGE_luci-theme-kucat=y
# CONFIG_FEED_qmodem is not set
CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="PortalWRT"
CONFIG_VERSION_NUMBER="24.10"
CONFIG_VERSION_CODE="GLaDOS-R3Mini"
CONFIG_VERSION_REPO="https://downloads.immortalwrt.org/releases/24.10-SNAPSHOT"
CONFIG_VERSION_MANUFACTURER="APERTURE SCIENCE"
CONFIG_VERSION_MANUFACTURER_URL="https://www.valvesoftware.com"
CONFIG_VERSION_PRODUCT="APERTURE SCIENCE"
CONFIG_VERSION_HWREV="BPI-R3 Mini"
