########################################################################
# HNAT is owned by TurboACC.  This package only applies QDMA HQoS when  #
# enabled is explicitly set to 1 and hqos is explicitly set to 1.       #
#                                                                    #
# txq_num is limited to the 64 QDMA queues exposed by MT7986.         #
# schX_mode: 0 = weighted round-robin, 1 = strict priority           #
# schX_bw: scheduler bandwidth in Kbps                                #
########################################################################
config global 'global'
	option enabled 0
	option hqos 0
	option txq_num 64
	option sch0_enable 0
	option sch0_mode 0
	option sch0_bw 1000000
	option sch1_enable 0
	option sch1_mode 0
	option sch1_bw 1000000

####################################################################
# id: queue id (0-63 on MT7986)                                   #
# minrate/maxrate: percentage of the selected scheduler bandwidth  #
# weight: WRR weight (1-255)                                       #
# resv: HW/SW reserved buffer count (0-255)                        #
####################################################################
config queue
	option id 0
	option minrate 30
	option maxrate 100
	option weight 4
	option resv 4

config queue
	option id 1
	option minrate 30
	option maxrate 100
	option weight 2
	option resv 4

config queue
	option id 2
	option minrate 30
	option maxrate 100
	option weight 2
	option resv 4

config queue
	option id 3
	option minrate 30
	option maxrate 100
	option weight 4
	option resv 4

config queue
	option id 4
	option minrate 30
	option maxrate 100
	option weight 6
	option resv 4

config queue
	option id 5
	option minrate 30
	option maxrate 100
	option weight 6
	option resv 4

config queue
	option id 6
	option minrate 30
	option maxrate 100
	option weight 8
	option resv 4

config queue
	option id 7
	option minrate 30
	option maxrate 100
	option weight 8
	option resv 4

config queue
	option id 8
	option minrate 30
	option maxrate 100
	option weight 4
	option resv 4

config queue
	option id 9
	option minrate 30
	option maxrate 100
	option weight 2
	option resv 4

config queue
	option id 10
	option minrate 30
	option maxrate 100
	option weight 2
	option resv 4

config queue
	option id 11
	option minrate 30
	option maxrate 100
	option weight 4
	option resv 4

config queue
	option id 12
	option minrate 30
	option maxrate 100
	option weight 6
	option resv 4

config queue
	option id 13
	option minrate 30
	option maxrate 100
	option weight 6
	option resv 4

config queue
	option id 14
	option minrate 30
	option maxrate 100
	option weight 8
	option resv 4

config queue
	option id 15
	option minrate 30
	option maxrate 100
	option weight 8
	option resv 4
